<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todos los usuarios</title>
</head>

<body>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Usuario</th>
            <th>Términos</th>
            <th>Nombre</th>
            <th>Password</th>
            <th>Correo</th>
            <th>Teléfono</th>
            <th>Acciones</th>
        </tr>

        <% if (usuarios) { %>
            <% for (var i = 0; i < usuarios.length; i++) { %>
                <tr>
                    <td>
                        <%= usuarios[i]._id %>
                    </td>
                    <td>
                        <%= usuarios[i].usuario %>
                    </td>
                    <td>
                        <%= usuarios[i].terminos %>
                    </td>
                    <td>
                        <%= usuarios[i].nombre %>
                    </td>
                    <td>
                        <%= usuarios[i].password %>
                    </td>
                    <td>
                        <%= usuarios[i].correo %>
                    </td>
                    <td>
                        <%= usuarios[i].telefono %>
                    </td>
                    <td>
                        <a href="/eliminarUsuario/<%= usuarios[i]._id%>">Delete</a>
                        <a href="/update/<%= usuarios[i]._id%>">Update</a>
                    </td>
                </tr>
                <% }  %>
                    <% } %>
    </table>
</body>

</html>